:root {
  --white-smoke: #f6fafc;
  --dark-turquoise: #f4e6d7;
  --white: white;
  --brand-dark: #d6bfa3;
  --black: #14161f;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.body {
  background-color: var(--white-smoke);
  color: #14161f;
  height: 100%;
  font-family: Colfax, sans-serif;
  font-size: 18px;
  line-height: 150%;
}

.div-block {
  background-color: var(--dark-turquoise);
}

.hero1 {
  background-image: url('../images/Rectangle-9.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  padding-top: 140px;
  padding-bottom: 60px;
}

.wrapper {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.hero-text-wrapper {
  z-index: 10;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.hero-text-wrapper.no__left__auto {
  margin-left: 0;
}

.hero-text-wrapper.max__780px {
  max-width: 780px;
}

.h1 {
  font-size: 110px;
  line-height: 100%;
}

.h1.white__text {
  color: var(--white);
  font-weight: 500;
}

.h1.white__text.alternative {
  text-align: center;
  font-size: 100px;
}

.explore__wrap {
  color: var(--white);
  align-items: center;
  height: 60px;
  margin-top: 40px;
  padding-left: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  display: flex;
}

.image {
  filter: hue-rotate(225deg);
  width: 30px;
  height: 30px;
  padding: 5px;
}

.navbar__landing1__nav {
  z-index: 999;
  background-color: var(--white);
  height: 90px;
  position: sticky;
  top: 0;
}

.navbar__landing1__nav.nav-2 {
  opacity: 1;
  background-color: #fff;
  width: 100%;
  position: fixed;
}

.navbar__landing1__nav.nav-3 {
  background-color: #0000;
  margin-top: 20px;
  margin-bottom: 40px;
  position: static;
}

.navbar {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.brand {
  justify-content: center;
  align-items: center;
  display: flex;
}

.brand.w--current {
  padding: 0 10px;
}

.brand._2 {
  background-color: #0000;
  padding-left: 0;
}

.image-2 {
  width: 240px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav-link {
  padding: 29px 20px;
  font-weight: 400;
  line-height: 1;
  transition: all .2s;
}

.nav-link:hover {
  background-color: var(--white-smoke);
  color: var(--brand-dark);
  font-weight: 400;
}

.nav-link.w--current {
  color: var(--brand-dark);
  text-decoration: none;
}

.nav-link.no-bg {
  background-color: #0000;
}

.nav-link.no-bg.w--current {
  color: var(--brand-dark);
}

.nav-link.l2 {
  color: var(--black);
  background-color: #0000;
}

.nav-link.l2:hover {
  background-color: #0000;
}

.nav-link.l2.w--current {
  font-weight: 400;
}

.nav-link.m {
  display: none;
}

.hero-button-1 {
  background-color: var(--dark-turquoise);
  color: var(--black);
  border-radius: 18px;
  margin-left: 10px;
  padding-left: 17px;
  padding-right: 17px;
  text-decoration: none;
  transition: all .2s;
}

.hero-button-1:hover {
  background-color: var(--brand-dark);
}

.hero-button-1.alternative {
  border-radius: 110px;
}

.div-block-2 {
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 10px;
  display: flex;
}

.button-icon-1 {
  width: 25px;
  margin-right: 10px;
}

.call {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}

.text-block {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.nav-menu {
  justify-content: center;
  align-items: center;
  display: flex;
}

.into__section {
  padding-top: 100px;
  padding-bottom: 60px;
}

.into__section.alternative {
  background-color: var(--white);
  text-align: left;
  max-width: 885px;
  margin-top: -171px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 61px;
}

.h2 {
  color: var(--black);
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 500;
  line-height: 140%;
}

.icons-group {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.icons-group.max__780px {
  max-width: 780px;
}

.grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid._2-col-grid {
  grid-column-gap: 125px;
  grid-row-gap: 20px;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 20px;
  display: grid;
}

.col {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.col.center {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.col.right {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
}

.h3.small {
  font-size: 20px;
}

.h3.center {
  text-align: center;
}

.image-3 {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.slider__container {
  margin-top: 100px;
}

.slider {
  background-color: var(--dark-turquoise);
  width: 100%;
  height: 540px;
}

.mask, .slide {
  width: 100%;
  height: 100%;
}

.slide-nav {
  display: none;
}

.left-arrow {
  background-color: var(--dark-turquoise);
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 21px;
  display: flex;
}

.image-4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.paragraph {
  opacity: .8;
}

.paragraph.footer__copy__60 {
  opacity: .6;
  margin-bottom: 20px;
  line-height: 1;
}

.amenities__section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.tabs {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.tabs-menu {
  flex-direction: column;
  width: 250px;
  display: flex;
}

.tab {
  opacity: .5;
  color: var(--black);
  background-color: #0000;
  border-left: 2px solid #0000;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 26px;
  display: flex;
}

.tab.w--current {
  border-left-color: var(--dark-turquoise);
  opacity: 1;
  background-color: #0000;
  font-size: 26px;
}

.tb__content {
  min-width: 540px;
}

.image-5 {
  object-fit: cover;
  width: 100%;
  height: 500px;
  margin-bottom: 40px;
}

.tabs-content {
  max-width: 700px;
}

.property__features {
  background-color: var(--white);
  padding-top: 100px;
  padding-bottom: 100px;
}

.schedule__visit {
  padding-top: 100px;
  padding-bottom: 100px;
}

.form__container {
  max-width: 780px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.text-field {
  background-color: var(--white);
  border: 1px #000;
  height: 70px;
  padding-left: 18px;
  padding-right: 18px;
}

.text-field:focus {
  border-style: solid;
  border-color: var(--black);
}

.grid-2 {
  grid-row-gap: 9px;
  grid-template-rows: auto auto auto;
}

.submit-button {
  background-color: var(--dark-turquoise);
  color: #14161f;
  height: 70px;
  transition: all .2s;
}

.submit-button:hover {
  background-color: var(--brand-dark);
}

.submit-button.gallery {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: none;
}

.footer {
  padding-top: 100px;
  padding-bottom: 60px;
}

.image-6 {
  width: 280px;
}

.footer__copy {
  margin-top: 17px;
}

.grid-3 {
  grid-template-rows: auto;
}

.link-block {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.link {
  text-align: right;
  text-decoration: none;
}

.hero2 {
  background-image: linear-gradient(#0003, #0003), url('../images/61d49964-7deb-4744-a69b-de390dcb205e.JPG');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

.full__image__seect {
  background-image: url('../images/465bb2f9-dac9-4824-96d6-22f654ab5c06.JPG');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  margin-top: 40px;
}

.tab-op-2 {
  opacity: .5;
  color: var(--black);
  background-color: #0000;
  border-bottom: 2px solid #0000;
  padding: 33px;
  font-size: 26px;
  text-decoration: none;
}

.tab-op-2.w--current {
  border-bottom-color: var(--dark-turquoise);
  opacity: 1;
  background-color: #0000;
}

.image-7 {
  object-fit: cover;
  width: 100%;
  height: 600px;
  margin-top: 40px;
}

.wrapper-2 {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
}

.hero-3 {
  background-image: linear-gradient(#0003, #0003), url('../images/PHOTO-2024-05-19-15-48-23.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  align-items: center;
  max-width: 1540px;
  min-height: 60vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 162px;
  display: flex;
  position: relative;
}

.hero-3.galerie {
  background-image: linear-gradient(#00000026, #00000026), url('../images/465bb2f9-dac9-4824-96d6-22f654ab5c06.JPG');
  background-position: 0 0, 50% 100%;
  background-attachment: scroll, fixed;
  margin-top: 0;
}

.hero-3.informace {
  background-image: linear-gradient(#0003, #0003), url('../images/7f40923c-aae4-419b-9b40-abedbe181625.JPG');
}

.hero-3.tenerife {
  background-image: linear-gradient(#0000, #0000), url('../images/Tenerife-2024-Masca-Valley-Shutterstock-2329739923-Hybris.jpg');
}

.simple-image-section {
  padding-top: 100px;
}

.grid-4 {
  grid-template-rows: auto;
}

.image-8 {
  object-fit: cover;
  width: 100%;
  height: 600px;
}

.navbar_container {
  max-width: 1600px;
  padding-left: 30px;
  padding-right: 30px;
}

.container {
  max-width: 1200px;
}

.vylety_grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
}

.link-vylety {
  color: #14161f;
  font-weight: 400;
  text-decoration: underline;
  transition: color .2s;
}

.link-vylety:hover {
  color: var(--brand-dark);
}

.link-vylety.underline {
  text-decoration: underline;
}

.link-vylety.bold {
  font-weight: 700;
  text-decoration: underline;
}

.heading {
  margin-top: 0;
  font-weight: 700;
}

.heading.vylety {
  margin-top: 0;
  margin-bottom: 0;
}

.heading.faq {
  margin-bottom: 20px;
}

.heading.faq.stred {
  margin-top: 20px;
}

.text-block-2 {
  font-weight: 400;
}

.div-block-3 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 100px;
  display: flex;
  position: sticky;
  top: 0;
}

.heading-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.text-block-3 {
  font-weight: 700;
}

.tab-bottom {
  background-color: #f4f8fa;
  border-top: 1px #e4e9ec;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.tab-list {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-top: 100px;
  padding-left: 40px;
  display: grid;
}

.body-display {
  color: #667479;
  font-size: 18px;
  line-height: 1.65em;
}

.body-display.extra-small {
  font-size: 15px;
}

.lottie-tab-icon {
  z-index: 10;
  opacity: .5;
  filter: invert();
  width: 14px;
  position: relative;
}

.tab-top {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  cursor: pointer;
  border-top: 1px solid #dadada;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  grid-auto-columns: 1fr;
  width: 100%;
  padding: 20px 0;
  text-decoration: none;
  transition: padding .5s cubic-bezier(.25, .46, .45, .94);
  position: relative;
  overflow: hidden;
}

.tab-top:hover {
  padding-left: 0;
  padding-right: 0;
}

.tab-top.top {
  border-top-style: none;
}

.tab-bottom-content {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-top: 1px #e4e9ec;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 28px;
  display: flex;
}

.hover-cover {
  background-color: #f4f8fa;
  display: none;
  position: absolute;
  inset: 0%;
}

.tab-title {
  z-index: 25;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #080808;
  letter-spacing: .15em;
  text-transform: uppercase;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  grid-auto-columns: 1fr;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  display: grid;
  position: relative;
}

.tab-item {
  flex-direction: column;
  display: flex;
}

.text-block-4 {
  text-transform: none;
}

.div-block-5 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.image-9 {
  width: 100%;
}

.image-10 {
  align-items: stretch;
}

.lightbox-link {
  width: 50%;
  display: flex;
}

.red-text {
  color: var(--black);
  font-weight: 700;
}

.section.padding-bot {
  z-index: 20;
  background-color: var(--white-smoke);
  padding-bottom: 100px;
  position: relative;
}

.language {
  width: 25px;
}

.dropdown-list {
  background-color: #bea8a8;
}

.dropdown-list.w--open {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

.link-block-2 {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}

.dropdown-toggle {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 20px;
  display: flex;
}

.icon-2 {
  margin-right: 0;
  position: static;
}

.galerie {
  margin-top: 20px;
}

.link-2 {
  color: #14161f;
}

.link-2:hover {
  color: var(--brand-dark);
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.image-11 {
  width: 100%;
}

.cell {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  display: flex;
}

.cell-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block-7 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.kontakt-icon-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 50px;
  display: inline-flex;
}

.kontakt-icon {
  filter: invert();
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.kontakt-icon.non-invert {
  filter: none;
}

.kontakt-link {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: var(--black);
  justify-content: flex-start;
  align-items: center;
  width: auto;
  text-decoration: none;
  display: flex;
}

.kontakt-link:hover {
  color: var(--brand-dark);
  text-decoration: none;
}

.link-block-3 {
  text-decoration: none;
}

.link-3 {
  color: #000;
}

.text-span {
  color: var(--dark-turquoise);
}

.text-block-5 {
  margin-top: 23px;
  font-family: Colfax, sans-serif;
}

.quick-stack {
  grid-column-gap: 20px;
}

.text-block-6 {
  margin-bottom: 19px;
}

.div-block-8 {
  background-color: #d6bfa3b8;
  border-radius: 100px;
  margin-right: 10px;
  padding: 5px;
}

@media screen and (max-width: 991px) {
  .hero1 {
    min-height: 70vh;
  }

  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .h1.white__text {
    font-size: 100px;
  }

  .navbar__landing1__nav {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar__landing1__nav.nav-3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .brand._2 {
    padding-left: 10px;
  }

  .image-2 {
    width: 225px;
  }

  .nav-link {
    text-align: center;
  }

  .nav-link.l2 {
    color: var(--black);
  }

  .nav-link.m {
    display: block;
  }

  .nav-link.m1 {
    display: none;
  }

  .hero-button-1 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-button-1.alternative {
    border-radius: 0;
  }

  .menu-button {
    padding: 20px 22px;
  }

  .menu-button.w--open {
    background-color: var(--dark-turquoise);
  }

  .icon {
    color: #000;
    font-size: 30px;
  }

  .nav-menu {
    background-color: var(--white);
  }

  .into__section.alternative {
    margin-top: 0;
  }

  .tab, .tab.w--current {
    font-size: 20px;
  }

  .image-5 {
    height: 410px;
  }

  .submit-button.gallery {
    display: flex;
  }

  .hero2 {
    min-height: 80vh;
  }

  .hero-3 {
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .image-8 {
    height: 460px;
  }

  .navbar_container {
    justify-content: space-between;
    align-items: center;
  }

  .vylety_grid {
    grid-template-columns: .75fr;
  }

  .div-block-3 {
    position: static;
  }

  .tab-list {
    max-width: none;
    padding-left: 0;
  }

  .tab-top:hover {
    padding-left: 0;
    padding-right: 0;
  }

  .hover-cover {
    display: none;
  }

  .div-block-6 {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .hero1 {
    min-height: 60vh;
  }

  .h1.white__text, .h1.white__text.alternative {
    font-size: 80px;
  }

  .h2 {
    font-size: 36px;
  }

  .grid._2-col-grid {
    grid-column-gap: 50px;
  }

  .col {
    justify-content: flex-start;
    align-items: center;
  }

  .h3 {
    font-size: 20px;
  }

  .image-3 {
    width: 40px;
    height: 40px;
  }

  .slider {
    height: 350px;
  }

  .paragraph {
    line-height: 150%;
  }

  .tabs {
    flex-direction: column;
  }

  .tabs-menu {
    flex-flow: wrap;
    width: 100%;
  }

  .tab {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
  }

  .tab.w--current {
    font-size: 18px;
  }

  .tb__content {
    min-width: 100%;
  }

  .tabs-content {
    margin-top: 20px;
  }

  .image-7 {
    height: 400px;
  }

  .image-8 {
    height: 320px;
  }

  .navbar_container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .body-display {
    font-size: 18px;
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-text-wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    bottom: 76%;
  }

  .h1.white__text {
    font-size: 40px;
  }

  .h1.white__text.alternative {
    font-size: 50px;
    position: relative;
  }

  .brand {
    margin-left: -20px;
    padding-right: 10px;
  }

  .brand.w--current {
    padding-top: 0;
    padding-bottom: 0;
  }

  .image-2 {
    width: 160px;
  }

  .menu-button {
    margin-right: -20px;
    padding: 13px 15px;
  }

  .h2 {
    font-size: 28px;
  }

  .h2.center {
    text-align: center;
  }

  .grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .grid._2-col-grid {
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
  }

  .col {
    justify-content: flex-start;
    align-items: center;
  }

  .col.center {
    text-align: center;
    justify-content: center;
    align-items: stretch;
  }

  .col.right {
    justify-content: center;
    align-items: center;
  }

  .h3 {
    font-size: 20px;
  }

  .paragraph.footer__copy__60, .paragraph.center {
    text-align: center;
  }

  .image-5 {
    height: 220px;
  }

  .property__features {
    padding-bottom: 40px;
  }

  .grid-2 {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .footer {
    text-align: center;
  }

  .image-6 {
    width: 240px;
  }

  .grid-3 {
    grid-row-gap: 25px;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .link-block {
    margin-left: 10px;
  }

  .link {
    text-align: center;
  }

  .hero2 {
    min-height: 70vh;
  }

  .full__image__seect {
    background-attachment: scroll;
    height: 530px;
  }

  .image-7 {
    height: 260px;
  }

  .hero-3 {
    background-attachment: scroll;
    min-height: 40vh;
  }

  .grid-4 {
    grid-template-columns: 1fr;
  }

  .navbar_container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .body-display {
    font-size: 14px;
  }

  .image-10 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .lightbox-link {
    width: 100%;
  }
}

#w-node-c7a39719-67f6-da43-f92a-81516c9573eb-6c9573df {
  justify-self: end;
}

#w-node-e1b15adf-ff13-e0e8-45bd-1c6c605e92f9-772110d0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-b1c1023a-0f51-5edb-3cd0-0d73e4ed5b59-772110d0 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_9690dfb9-09cf-fb90-a272-6fe09207406f-772110d0, #w-node-b5344b5e-23e0-94d1-a1bd-e9400e04be3c-772110d0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5b250bf5-fa04-e919-1987-5c659c79be2f-d15261a5 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#w-node-_6f7969cb-7489-c080-4f75-5fef80137cb1-80137ca4 {
  justify-self: end;
}

#w-node-e1b15adf-ff13-e0e8-45bd-1c6c605e92f9-2e6b9b7d {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-b1c1023a-0f51-5edb-3cd0-0d73e4ed5b59-2e6b9b7d {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_9690dfb9-09cf-fb90-a272-6fe09207406f-2e6b9b7d, #w-node-_47b5d828-4c3e-0807-8906-f91a1a250c4f-2e6b9b7d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e1b15adf-ff13-e0e8-45bd-1c6c605e92f9-08425faf {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-b1c1023a-0f51-5edb-3cd0-0d73e4ed5b59-08425faf {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_9690dfb9-09cf-fb90-a272-6fe09207406f-08425faf, #w-node-c4cb11c4-82c3-5480-e614-875f934ea11e-08425faf {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5b250bf5-fa04-e919-1987-5c659c79be2f-a461e8ab {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#w-node-e1b15adf-ff13-e0e8-45bd-1c6c605e92f9-f419fba0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-b1c1023a-0f51-5edb-3cd0-0d73e4ed5b59-f419fba0 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_62de964e-8cd1-f366-1dfd-8f559aeb3f0d-f419fba0, #w-node-_9690dfb9-09cf-fb90-a272-6fe09207406f-f419fba0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_5b250bf5-fa04-e919-1987-5c659c79be2f-d15261a5, #w-node-_5b250bf5-fa04-e919-1987-5c659c79be2f-a461e8ab {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  #w-node-c7a39719-67f6-da43-f92a-81516c9573eb-6c9573df {
    justify-self: center;
  }

  #w-node-e1b15adf-ff13-e0e8-45bd-1c6c605e92f9-772110d0 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: start;
  }

  #w-node-_5b250bf5-fa04-e919-1987-5c659c79be2f-d15261a5 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  #w-node-e1b15adf-ff13-e0e8-45bd-1c6c605e92f9-2e6b9b7d, #w-node-e1b15adf-ff13-e0e8-45bd-1c6c605e92f9-08425faf {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: start;
  }

  #w-node-_5b250bf5-fa04-e919-1987-5c659c79be2f-a461e8ab {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  #w-node-e1b15adf-ff13-e0e8-45bd-1c6c605e92f9-f419fba0 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: start;
  }
}


@font-face {
  font-family: 'Quincy cf';
  src: url('../fonts/Quincy-CF-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Quincy cf';
  src: url('../fonts/Quincy-CF-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Quincy cf';
  src: url('../fonts/Quincy-CF-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Quincy cf';
  src: url('../fonts/Quincy-CF.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Colfax';
  src: url('../fonts/Colfax-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Colfax';
  src: url('../fonts/Colfax-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Colfax';
  src: url('../fonts/Colfax-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Colfax';
  src: url('../fonts/Colfax-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Colfax';
  src: url('../fonts/Colfax-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Colfax';
  src: url('../fonts/Colfax-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Colfax';
  src: url('../fonts/Colfax-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Colfax';
  src: url('../fonts/Colfax-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Colfax';
  src: url('../fonts/Colfax-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Colfax';
  src: url('../fonts/Colfax-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Colfax';
  src: url('../fonts/Colfax-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Colfax';
  src: url('../fonts/Colfax-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
